
.scopeList {
  padding-left: 0;
}

.listItem {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 0;
  border-bottom: 1px solid var(--vscode-settings-textInputBorder);
  list-style: none;
}

.listItem:hover {
  background-color: var(--vscode-list-hoverBackground);
}

.itemName {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnDel {
  margin-left: 10px;
}

.nameInput {
  width: 300px;
}