.commitTable {
  margin: 10px 0;
  border-collapse: collapse;
}
.commitTable th,
.commitTable td {
  padding: 4px 8px;
  text-align: left;
  border: 1px solid var(--vscode-descriptionForeground);
}

.tag {
  margin-right: 5px;
  padding: 0 2px;
  font-weight: 700;
  color: var(--vscode-settings-textInputBackground);
  background-color: var(--vscode-settings-textInputForeground);
  border-radius: 4px;
}
